drdfgdfg

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Load Kats fractal dimension

In [2]:
normal_ecg_katz = pd.read_pickle('normal_ecg_katz.pickle')
normal_ecg_katz.head(1)

,ID,I_Katz,II_Katz,III_Katz,aVR_Katz,aVL_Katz,aVF_Katz,V1_Katz,V2_Katz,V3_Katz,V4_Katz,V5_Katz,V6_Katz
0,A00002,1.749023,1.694336,1.697266,1.713867,1.860352,1.668945,1.674805,1.729492,1.897461,1.749023,1.689453,1.651367

In [3]:
normal_ecg_age = pd.read_pickle('normal_ecg_age.pickle')
normal_ecg_age = normal_ecg_age.drop(['Age'], axis=1)
normal_ecg_age.head(1)

   ECG_ID  Age_class
0  A00002          2

In [4]:
Katz_age = normal_ecg_katz.join(normal_ecg_age, on=None, how='left', lsuffix='ID', rsuffix='ECG_ID', sort=False, validate=None)

In [5]:
Katz_age.drop(['ID', 'ECG_ID'], axis=1, inplace=True)

In [6]:
Katz_age

,I_Katz,II_Katz,III_Katz,aVR_Katz,aVL_Katz,aVF_Katz,V1_Katz,V2_Katz,V3_Katz,V4_Katz,V5_Katz,V6_Katz,Age_class
0,1.749023,1.694336,1.697266,1.713867,1.860352,1.668945,1.674805,1.729492,1.897461,1.749023,1.689453,1.651367,2
1,2.591797,2.078125,2.175781,2.250000,2.570312,2.054688,2.005859,1.847656,1.921875,2.021484,1.961914,1.981445,5
2,2.328125,2.378906,2.662109,2.281250,2.880859,2.482422,2.046875,1.971680,1.923828,1.803711,1.819336,1.845703,3
3,2.070312,1.766602,1.780273,1.796875,1.840820,1.765625,1.759766,1.793945,1.850586,1.778320,1.732422,1.708008,2
4,1.843750,1.918945,1.986328,1.883789,1.817383,2.005859,1.794922,1.907227,2.009766,1.869141,1.832031,1.832031,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13900,1.753906,1.778320,1.988281,1.749023,1.796875,1.905273,1.889648,1.975586,1.807617,1.768555,1.742188,1.728516,3
13901,1.966797,1.905273,2.162109,1.912109,2.226562,1.937500,1.919922,1.812500,1.775391,1.753906,1.744141,1.749023,6
13902,1.981445,1.756836,1.962891,1.815430,2.353516,1.800781,1.712891,1.703125,1.686523,1.697266,1.705078,1.716797,4
13903,1.859375,1.898438,1.783203,2.023438,1.728516,1.833008,1.771484,1.778320,1.926758,1.874023,1.838867,1.815430,1
13904,1.953125,1.834961,1.840820,1.862305,2.126953,1.826172,1.808594,1.960938,1.971680,1.770508,1.747070,1.749023,4

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Katz_age.iloc[:,0:12], Katz_age['Age_class'], random_state=0)

In [8]:
pd.concat([X_train, y_train], axis=1)

,I_Katz,II_Katz,III_Katz,aVR_Katz,aVL_Katz,aVF_Katz,V1_Katz,V2_Katz,V3_Katz,V4_Katz,V5_Katz,V6_Katz,Age_class
5657,1.916992,1.756836,1.790039,1.790039,1.858398,1.747070,2.017578,1.883789,1.899414,1.834961,1.812500,1.824219,2
4951,1.778320,1.998047,2.435547,1.873047,2.261719,2.134766,1.878906,1.924805,1.911133,1.759766,1.731445,1.713867,2
11333,1.794922,1.787109,1.761719,1.791992,1.935547,1.770508,1.721680,1.737305,1.859375,1.826172,1.771484,1.749023,3
5120,1.805664,1.998047,1.817383,1.872070,1.768555,2.181641,1.732422,1.763672,1.863281,1.897461,1.787109,1.732422,4
8174,1.949219,2.109375,1.861328,2.013672,1.894531,2.203125,1.796875,1.823242,1.840820,1.871094,1.928711,1.905273,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,1.836914,1.920898,2.107422,1.864258,2.359375,1.985352,1.758789,1.773438,1.791992,1.739258,1.734375,1.731445,4
3264,1.746094,1.783203,1.923828,1.751953,1.922852,1.828125,1.688477,1.732422,1.847656,1.732422,1.731445,1.721680,3
9845,1.930664,2.017578,2.277344,1.952148,1.973633,2.195312,1.855469,1.828125,1.823242,1.751953,1.759766,1.805664,4
10799,1.708984,1.753906,1.810547,1.718750,2.027344,1.787109,1.724609,1.721680,1.855469,1.751953,1.677734,1.668945,6
2732,1.750000,1.732422,1.911133,1.753906,1.810547,1.726562,1.678711,1.765625,1.934570,1.750000,1.684570,1.669922,2

In [8]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(10428, 12) (3477, 12)
(10428,) (3477,)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

In [24]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [25]:
y_pred = knn.predict(X_test)

In [26]:
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set score: 0.24